@font-face {
    font-family: 'Pridi';
    src: url(https://fonts.google.com/specimen/Pridi?query=pridi);
}

.text-uppercase .fw-bold{
    font-family: "Pridi", serif;
    font-size: 64px;
    padding-bottom: 50px;
}

.card-body{
    padding:50px;
}

p{
    font-family: "Pridi", serif;
    font-size: 20px;
    font-style: normal;
    line-height: 30px;
}