@font-face {
    font-family: 'Pridi';
    src: url(https://fonts.google.com/specimen/Pridi?query=pridi);
}

h2{
    font-family: "Pridi", serif;
    font-size: 64px;
    font-style: Bold;
}

p{
    padding: 70px;
    font-family: "Pridi", serif;
    font-size: 20px;
    font-style: normal;
}