@font-face {
    font-family: 'Pridi';
    src: url(https://fonts.google.com/specimen/Pridi?query=pridi);
}

h2{
    font-family: "Pridi", serif;
    font-size: 40px;
}

.card-body{
    padding:50px;
}

p{
    font-family: "Pridi", serif;
    font-size: 20px;
    font-style: normal;
    line-height: 30px;
}

.container.text-center .row .col .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    margin: 50px 0 100px;
    width: 30%;
}
  
.container.text-center .row .col .btn:hover {
    background-color: rgb(123, 156, 254);
}
